<head>
  <title>Phate6660's Mostly Plaintext Static Site Which Shall Not Contain Any Bloat Such as JavaScript and The Works</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="canonical" href="https://phate6660.codeberg.page/"/>
  <meta name="description" content="Phate6660's Mostly Plaintext Static Site Which Shall Not Contain Any Bloat Such as JavaScript and The Works"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.50"/>
  <meta name="author" content="Phate"/>
  <meta name="GOOGLEBOT" content="NOARCHIVE"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'none';"/>
</head>

<style>
  body {
    background-color: black;
    color: white;
  }

  a {
    color: #da34cc;
  }
</style>

<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF74JYUBEADbkwesrm92/sZEIemVuQ6eFBDD4RdiUqXBjF2eQKgf9L+tHFru
oG6gNiM2AVw6bL1+VD1VCal4XzKwyeKpPDGGfB1kS4Ou3EIBy4YoNgPmDxDYOxys
aP7jYIfLePiVZKa76a/lywAwkd/DC5eBM9iMDAaE+F1EtFcZvLf7sBUauL3M7uV3
c43DhcCiDg06pO1rcROqpLTjom9uLIivR3HuZvIx7vCsMceN6gQICzT5hyzNJDxp
hZQAn/HTk2SlPHma0mDeyX6k7dHklPj+gGj1802fIgmyCWuOO2fhS8/2VynWPGmr
3/WypfpUnDh8n/1vhixa+NxLDsigp1dy+Z6JuGRKE9EB5Pbxr42xJHz8b2mzTNa3
RiPzrwILi+RmKayIT/kjiN9x2zVK4yPEEAEJh6m1bYvxG3F2pkaNtwj8CKeOoCg0
VJivmRMYJSGuALZlXa1DP4PiNRXy1jtMTy9r35K/2/Q7fan2lCTyeb7IJlRD/UX/
N/fQrz9MtY5Xx1HItReJ+q61U+0uJIq8TA+6Bwiod4ZVJo/3R16s/RyzMM/8nMSL
tDfiWBDOOm83aU3peIwyITXcrb78kCdEhhqYhexZ5vfgy2O1fVU1cv2Ij3/AJ/U2
+/TszSXyEmXj25vMtq7xFFwJwjs98+v0ZOpspuG+qCw4Pi0VZ2Wi5hbEvQARAQAB
tCxwaGF0ZSAoZ2VudG9vKSA8VmFsbGV5S25pZ2h0QHByb3Rvbm1haWwuY29tPokC
TgQTAQgAOBYhBFaFTWP17WMoxft4Ss89w2xnYxfyBQJe+CWFAhsDBQsJCAcCBhUK
CQgLAgQWAgMBAh4BAheAAAoJEM89w2xnYxfyytUP/3cyGOiCV/Q2EiKolLEReReO
U4KL1lRaG/y8BSvLLLXyMX+GwNX5JXUgBVC9mw6xNxvRH7BZT3/JAx0iP9/77gwU
mlVTVplH0rZGjqMMUs2d4wGnb7Lrn6vQW/PH1x9PyA/tz+URCzgrjbDGhGu41YVU
QP5bM1fTqLj0jVluJ/1ygYjl8XNdRhIgb7i2k8SD7xZQS+kZPE1mkMZJfr9iGM8F
JEbVXYR3Q3MVzA10Cu9gvcc8d/7Kyja/h5tERk6CVcjmuYQf8sWSwyMv/MSCuiFk
jZSDGz99ZEB35VyuLZeexd9fD9nV3bAsnOolYHafYiZJicf7zEFyQdcskmS3nlYE
zQkOedkeHIQlWd3vvpNg1JOYdAf+YBMTC6S4oO3pRSAWQtuqPINr6ONVkTOXMXZ2
nPpJ+54+smrgaWP6+NtDO/i4Fd9Lz1lqmfXA/JUv5VxjVi9P5c+MTcU3eszOK7VZ
rVTKv/QSD1e5C7Vk5tWUpT7km4ABmVsZD28ALdKkY/fpq7nUN9nDrsn40iciEZpf
O+Zahs++bjcvuQKU/umku7daecyFMOxWorPwYdCjcmGX4JU4HqcuXyD+XDn9HRS6
aocroWPoBZaHQebMk0csXeSUwvHUoaaTa1IYy/LNw3WzbqgPrOxSBGTUNRSs27Zg
QlaHDBNqEt1tZl6MEjsmuQINBF74JYUBEADjA/wGENndOPnsxoxiZ8aOWOCoAbRT
iJYh2G7RErDnRs/jZWyTCpEkNBuNcmIK2lYhwyDW4AOxG3pr+DRU4UfTQDE+Z/vM
kPEmrUTRlvROS8jHjlpUBMWF9zfnq8gEEkC3hMOW5xv/0bvuvdvzfRPIIYwRJum5
g2HjlOQezzzvDmN9Jh77xnxB2lRb8LQkE3+3Gw0OebSdUKgtg83FkIM2E7gHDOWV
P/GtXJyH78c5PH5BdFqux2KxBl3cijBhb6ND+01F7/jGQzjwwn4O0ZgnTPGGY+CO
VJPJe4TQ7Q2CWTei7PtjVrAQhCWL6G8SjHTpgTfCeBb0UOAp3NQZVfKT1gWwAXRj
ZYmFSauvzNIURIDUySLJWkRD74kWN5STYEpRdL5iUdZ8hY3lX5jWLF0D0VwIkfdQ
2gSebRV03ljpK7pC+51avTOtdmc8MpgK5NGlDJvs+/LnB5f6w4m6a1gPd9oFsdV5
tC2AyXTDzTsSR+7xQt2yj+5LG3WBRa/PGF5Rjha9PhmYixoQ4TWQmmnx8BvPbg9G
b4PzyumKJEMHP8yBpb/5Sx/WExqNHe5sgCzyqELFTL3ik4qYvJCtOtrpxyOL4V8B
5D61dDkEJqbizcY/VnewnvE3HCv1eoNqjpQZ/85EUUP8EBDdnryE1hcTNGxj1+nn
D3q4BKWSxXwgzwARAQABiQI2BBgBCAAgFiEEVoVNY/XtYyjF+3hKzz3DbGdjF/IF
Al74JYUCGwwACgkQzz3DbGdjF/JxfBAAlzUrb53CGu1qUbsSoM6Oytl5tzUOFNCJ
ab2XRLaqhFEKkBnjE+D3GcLxIqPlFh1eq2bFR8t3xmEJjc37DzmCtnc5YZ8KWkoj
66g2erPkCxOgMo7e2x4obBJG39/jxMLtYAaNxSE8g+Rr9L8whHqvu/WERd7hm0oC
++5wJq2l7dlRec96c/IMBNG5bH8rHbsOUfJg0AN7TnJsQm2gx17vj0L4rramqgsb
b2QGpDkpJRu6LBqw0vCL4uF2LCJOaQbveGfJjyEovm4SoXCgkH+MkU4dqsXrnyII
niPmhs0KDEPJVQb9tx0hik0eDMh7wWg067WT3GYSh/KENjBR5O4s83XKgRE6Sfer
Gu030VbM1NIslwXm767A8dxKnrNt1dGvDwAZyp2i5F8L6Sj4ytyqnamjMmOC9Pv6
o0F/wu/aVrtqdYfWn2ponUUIsVaFpC0pHgld9AhAt4KlAwPk1ZdX3dXO9G3AbWkB
pNRWeQs1Kp4vTtQkbCZHoQ7G37hcXx3zXIpZJKTP4amh/SA5gNhySVQ0d92jZ9wd
Y+RBYA5xbMkRv6yJZY21R/n0Wv/rwwAmYpTVIsdgDtUn3Fd1SDwgHL+xphppWv5Z
XNfiimR2+YxOLvgvJTCO4k6YICyxIOj98YxwIs2SUkSJyX40ej+uUzBv6PEPPO7l
Jzx8tDT1PZ8=
=Zvgy
-----END PGP PUBLIC KEY BLOCK-----
</pre>

<a href="phate.key" download="phate.key">[download]</a>
