<head>
  <title>Phate6660's Mostly Plaintext Static Site Which Shall Not Contain Any Bloat Such as JavaScript and The Works: The Blogging Section</title>
  <link rel="icon" type="image/png" href="https://codeberg.org/avatars/79349edd9656ded48646e86839d9a6dd"/>
</head>

<style>
  body {
	background-color: black;
	color: white;
  }

  a {
    color: #da34cc;
  }

  .details,
  .show,
  .hide:target {
    display: none;
  }

  .hide:target + .show,
  .hide:target ~ .details {
    display: block;
  }

  code {
	display: inline-block;
	background-color: silver;
	color: green;
	white-space: pre;
  }
</style>

<body>
  This is the landing page for the blog.<br>
  Posting here will be very erratic, I might post a little and I might post a lot. Who knows?<br>
  Most posts will be contained here in a collapsible div, but if a post is big enough it'll get it's own individual page.<br><br>
  <div>
    <a id="hide1" href="#hide1" class="hide">+ Friday 01, May of 2020 - Creation of the Site</a>
    <a id="show1" href="#show1" class="show">- Friday 01, May of 2020 - Creation of the Site</a><br>
    <div class="details">
      Welp, created this beauty of site. Nothing much else to say really.
    </div>
  </div>
  <div>
    <a id="hide2" href="#hide2" class="hide">+ Monday 04, May of 2020 - My New Favorite Language: Fetlang (NSFW Warning)</a>
    <a id="show2" href="#show2" class="show">- Monday 04, May of 2020 - My New Favorite Language: Fetlang (NSFW Warning)</a><br>
    <div class="details">
      I came across this awesome language a few hours ago, and I must say, I did not expect myself to get so absorbed into it.<br>
	  It is quite interesting in the fact that it has a set of required grammatical rules in conjunction with normal programming rules.<br>
	  It's also hilarious because of the fact that the source code reads out as badly written erotic fanfic.<br>
	  For example, here is a simple <code>cat</code> program:<br><br>
      <div>
<code>(Anything in parentheticals is a comment)
(Set Trisha to 10)
lick Trisha's toes ten times
(Set Clara to "". She will be the final output)
make Clara moan

(while true)
Until Amy is dominant towards Alicia
	(Read a byte from standard input)
	Have Mistress torture Brian's cock

	(Break if newline)
	If Brian is Trisha's fucktoy
		call safeword

	(Append byte to output)
	Have Brian hogtie Clara

(print)
Make slave scream Clara's name</code>
	  </div>
    </div>
  </div>
  <div>
    <a id="hide3" href="#hide3" class="hide">+ Monday 18, May of 2020 - How to cope with overwhelming and/or intense feelings</a>
    <a id="show3" href="#show3" class="show">- Monday 18, May of 2020 - How to cope with overwhelming and/or intense feelings</a><br>
    <div class="details">
      There will always come a time in life where you experience intense emotions. Unfortunately, I'm one of those people<br>
	  that fluctuate between feeling nothing and feeling very intensely.<br><br>

	  Something I've learned, is that when situations arise such as feelings of intense anger and sadness, you need to control your breathing.<br>
	  I know, I know. I'm sure you've all heard this before. I have too, but for the longest time I ignored this advice that was given to me.<br>
	  It never helped me in the past, so I saw no point in pursuing it any further. But after a while of experimenting and patience, this<br>
	  was the best solution I have found. By calmly breathing in deep through the nose, holding in for a second or two, and blowing it out<br>
	  the mouth, you can calm yourself down from any situation given you have the patience. If you just sit there huffing and sighing away<br>
	  it isn't going to help, if anything it might aggravate you further. At least it did for me in the past.<br><br>

	  Final word (to myself): Sometimes these situations can be very tough on you, both physically and mentally.<br>
	  You need to keep in mind that is only temporary, and the feeling will subside in time. In the meantime, you<br>
	  just need to keep pushing through. Don't allow yourself to think or act on drastic things.<br><br>
	  
	  <b>You may not think it at the time, but self control is a blessing. Not a curse.</b><br><br>

	  Edit; Some advice from a friend who read this blog post:<br>
	  <table border="1" cellpadding="5">
		<tr>
		  <td>
		    Looks pretty solid advice. I try to do that when need be.<br>
		    Bringing yourself out of the specific situation and clearing the mind is a great way to handle stress/emotion I've found<br>
            Another that I've noticed is more along the lines of willing yourself into different mindsets.<br>
		    Strangely enough, I've found it more helpful to do so in the third person.<br>
		    Like rather than (repeatedly, until it sticks) telling yourself "You will have a great day today", going for "You are having a great day today".<br>
		    Change the words around to fit your goal or whatnot, but the key for me seems to be repetition and third person<br>
            The science behind that is kind of that it brings your mind into the present. <br>
		    Rather than "you will... but when", its telling your mind "you are... now". <br>
		    Its not something that worked for me overnight, and even felt pointless or ineffective at first.<br>
		    Keeping certain mantras in mind consistently will get them engrained and you can even feel your mind and emotions shift towards them over time
		  </td>
		</tr>
	  </table>
    </div>
  </div>
  <div>
    <a id="hide4" href="#hide4" class="hide">+ Friday 24, Jul of 2020 - RIP: My GPU</a>
    <a id="show4" href="#show4" class="show">- Friday 24, Jul of 2020 - RIP: My GPU</a><br>
    <div class="details">
      My GPU died. A Nvidia GeForce GT 610 2 GB Edition (DDR3). It lasted for years. RIP.<br>
      On a happier note, this is a good thing. This is a chance for me to leave Nvidia.<br>
      Because Nvidia sucks. (Obligatory "fuck you Nvidia").<br>
      I'm going to be getting an AMD GPU. For now I've replaced it with an old 512 MB AMD GPU (DDR3).<br>
      And it's been performing even better than the Nvidia one.<br>
      Most likely due having better support on Linux.<br>
      I'm contemplating either the AMD Radeon 430 (2 GB GDDR5) or AMD Radeon RX 460 (4 GB GDDR5).<br>
      We won't know until tomorrow. /shrug
    </div>
  </div>
  <div>
    <a id="hide5" href="#hide5" class="hide">+ Saturday 25, Jul of 2020 - The GPU I'm getting is...</a>
    <a id="show5" href="#show5" class="show">- Saturday 25, Jul of 2020 - The GPU I'm getting is...</a><br>
    <div class="details">
      It's official. The GPU I'm getting is the Radeon RX 460.<br>
      I just hope my PSU can handle it.<br>
      Apparently my PC is already miraculously running as it is with a 250W PSU.<br>
      Edit: I had to return the GPU, it didn't work. Sticking with the 512MB AMD GPU for now.
    </div>
  </div>
  <div>
    <a id="hide6" href="#hide6" class="hide">+ Wednesday 12, Aug of 2020 - Goodbye Gentoo</a>
    <a id="show6" href="#show6" class="show">- Wednesday 12, Aug of 2020 - Goodbye Gentoo</a><br>
    <div class="details">
      This is it.<br>
      It pains me to say this.<br>
      Gentoo, you were the chosen one. You were perfect.<br>
      You were the distro for me.<br>
      But no more. You've been making some very very stupid changes lately.<br>
      Like removing consolekit and any way of keeping it, pretty much telling users to use a logind or nothing.<br>
      And removing eselect-opengl, and putting a hard requirement of libglvnd.<br>
      So... goodbye. I'm tired of your anti-user decisions.<br>
      I'll be switching over to LFS+Bedrock full time soon.<br>
      Because what I've learned from this is that no distro will be good enough unless I do it myself.
    </div>
  </div>
</body>
